{% extends 'base.html' %}

{% block content %}
    <h1>Замовлення #{{ order.id }}</h1>
    <ul>
        <li>Номер машини: {{ order.car_number }}</li>
        <li>Марка машини: {{ order.car_brand }}</li>
        <li>Рік випуску: {{ order.car_year }}</li>
        <li>Пробіг: {{ order.car_mileage }}</li>
        <li>Поломки: {{ order.repairs }}</li>
        <li>Вартість: {{ order.cost }}</li>
        <li>Механік: {{ order.mechanic }}</li>
        <li>Статус: {{ order.status }}</li>
    </ul>
    <a href="{% url 'orders.edit' order_id=order.id %}" class="btn btn-primary">Редагувати</a>
    <form action="{% url 'orders.delete' order_id=order.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Видалити</button>
    </form>
    {% if order.status == 'pending' %}
        <form action="{% url 'orders.start' order_id=order.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Розпочати роботу</button>
        </form>
    {% elif order.status == 'in_progress' %}
        <form action="{% url 'orders.complete' order_id=order.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Завершити роботу</button>
        </form>
    {% endif %}
{% endblock %}
